<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>1测试vue</title>
  <script src="./vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./config.js" type="text/javascript" charset="utf8"></script>
  <link rel="stylesheet" href="./element-ui.min.css">
</head>

<body>
  <div id="vueController">
    {{msg}}<br>
    <!--这个输入框绑定msg的值-->
    <input type="text" v-model="msg"><br>
    <!--绑定changeMsg方法到按钮上-->
    <input type="button" value="点我" @click="changeMsg">
    <el-button @click="showAlert">Click me!{{user}}</el-button>
    <el-switch v-model="access" active-text="限制表权限" inactive-text="不限制权限">
    </el-switch>
    <!-- <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="date" label="日期" width="180">
      </el-table-column>
      <el-table-column prop="name" label="姓名" width="180">
      </el-table-column>
      <el-table-column prop="address" label="地址">
      </el-table-column>
    </el-table> -->
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item label="审批人">
        <el-input v-model="formInline.user" placeholder="审批人"></el-input>
      </el-form-item>
      <el-form-item label="活动区域">
        <el-select v-model="formInline.region" placeholder="活动区域">
          <el-option label="区域一" value="shanghai"></el-option>
          <el-option label="区域二" value="beijing"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
    </el-form>
  </div>

  <script>
    var test = new Vue({
      el: "#vueController",
      data: {
        msg: "",
        user: null,
        contextPath: "%contextPath%",
        access: false,
        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄'
        }],
        formInline: {
          user: '',
          region: ''
        }
      },
      methods: {
        changeMsg: function () {
          var that = this;
          that.msg = "因崔斯听";
        },
        async showAlert() {
          let response = await fetch(this.contextPath + '/user/te')
          this.user = await response.json();
        },
        onSubmit() {
          console.log('submit!');
        }
      },
      mounted: function () {
        var that = this;
        that.msg = "hello vue111";
      }
    })

  </script>
</body>

</html>